body {

    margin: 0px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

header {
    background-color: #76D528;
    padding: 16px;

}

header img {

    width: 120px;

}

header p {

    margin-top: 0px;
    color: white;

}

header:nth-child(2) {

    height: 20px;
    background-color: #444444;
    color: white;
    margin-bottom: 20px;
    padding: 10px;

}

header:nth-child(2) p {

    margin: 0px;

}

section {

    overflow-x: scroll;
    /*    het scrollt verticaal maar het moet horizontaal zijn.*/
    height: 240px;

}

h2 {

    text-align: left;
    margin: 10px;
    margin-left: 40px;
    color: #444444;

}

button {

    background-color: #FDAC2A;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    color: white;
    border: none;

}

main > section {

    max-height: 20em;

}

section section {

    height: 30vh;
    width: 40%;
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow-x: scroll;
    border: 1px solid lightgray
}

section section header {

    height: 40%;
    background-color: beige;
    color: white;
    margin-bottom: 0px;
    padding: 0px;
    border-bottom: 1px solid lightgray
}

section section h3 {

    display: flex;
    margin: 10px;

}

section section footer {

    height: 80px;

    display: flex;
    justify-content: space-between;
    background-image: none;
    align-items: flex-end;
    padding: 0px 5px;


}

section section footer img {

    width: 40px;
    display: inline-flex;

}

section section div {

    display: inline-flex;
    align-items: flex-end;


}

section section div p {

    margin-bottom: 12px;
    margin-right: 5px;

}

button:hover {

    background-color: #FD9727;

}

section {

    margin-top: 20px;
    margin-bottom: 20px;

}

section a {

    font-size: 1.2em;
    margin: 2vw;

}


input {

    display: block;
    margin: 0 auto;
    font-size: 1em;

}

label {

    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.2em;
    width: 200px;

}

label p {

    display: flex;
    margin: 0px;

}

.loginb p,
.loginb a {

    display: inline-block;
    margin: 0 auto;
    margin-top: 40px;

}

footer {

    background-image: url(Images/flixmobility-mobile-2x.png);

    background-size: 100%;
    background-position: center;
    height: 30vw;
    background-repeat: no-repeat;


}


@media(min-width:30em) {

    article {
        width: 200px;
    }

}


@media(min-width:70em) {

    header img {

        width: 120px;
        display: flex;

    }


}
