body {

    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    /* px omdat dat de standaard is van Flixbus. */
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: Crooked;
    src: url('timesnewarial.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.ttf');
}

/* De header */

body > header:first-child {
    background-color: #76D528;
    padding: 0.6em;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    white-space: nowrap;

}

body > header:nth-child(2) {

    margin-top: 3.7em;
    z-index: 10;
    width: 100%;
    top: 3.8em;
}

header img {

    width: 8em;
    display: inline-flex;

}

header a {

    text-decoration: none;

}

header ul {

    display: none;

}

header p {

    margin-top: 0;
    color: white;

}

header:nth-child(2) {

    background-color: #444444;
    color: white;
    padding: 0.7em;

}

header:nth-child(2) p {

    margin: 0;

}

header:nth-child(3) {

    height: 27.7vw;
    max-height: 15.5em;
    background-image: url(Images/headerbus.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;

}

/* Einde header */

button {

    background-color: #FDAC2A;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.3em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: white;
    border: none;

}

.overzicht > button:first-of-type,
.mijnlijst > button:first-of-type {

    margin-bottom: 1em;
    margin-top: 1em;

}

nav[class="open"] {

    text-align: left;
    width: 90%;
    padding: 2em;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 1em;
    position: fixed;
    background-color: white;
    height: 28em;

    top: 7em;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s;
    z-index: 10;
}

nav {

    height: 0;
    overflow: hidden;
    transition: 0s;
}

.mijnlijst nav:first-of-type {

    height: 4em;
    overflow: visible;

}

nav h2:first-child {

    display: flex;
    justify-content: center;
    margin: 0;

}

nav div {

    display: inline-flex;
    flex-direction: column;
    width: 100%;
    overflow: visible;

}

nav div input:nth-child(2) {

    margin-left: 2.5em;
    width: 10em;
}

label {

    display: flex;
    margin-top: 1em;
    width: 20em;
    margin-left: 1em;
}

input {

    display: inline-flex;

}

nav form div:last-child button:first-child {

    display: inline-flex;

}

.overzicht nav form div:last-child button:last-child,
.overzicht nav form div:last-child button:nth-child(2) {

    display: none;

}

form button {

    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Einde filters*/

.register section {

    overflow-x: scroll;
    height: 18em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-y: hidden;

}

.overzicht main > section:nth-child(even) {

    background-color: lightgray;

}

.overzicht section,
.verhaal section,
.mijnlijst section {

    height: 20em;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 1em;

}

.overzicht main section:first-child {

    overflow-x: visible;
    overflow-y: hidden;
    white-space: normal;
    padding-bottom: 0em;
    height: 29em;
    background-color: white;
    text-align: center;
}

.overzicht main section:first-child h2 {

    padding-left: 2vw;

}

.overzicht main section:first-child article {

    margin-top: 0;
    padding-top: 0;
    margin: 0 auto;

}

.overzicht main div section:nth-child(2) {

    padding-left: 3vw;
    text-align: left;

}


.overzicht main div section:nth-child(2) article {

    padding-top: 0em;
    margin-top: 0em;

}

.verhaal > section {

    padding-left: 2em;

}

.mijnlijst section {

    text-align: center;
    min-height: 20em;
    border-bottom: 1px solid #444444;
    width: 96%;
}

.mijnlijst section button {

    margin-left: -1em;
    margin-top: 8em;

}

.overzicht section h2,
.verhaal section h2,
.mijnlijst section h2 {

    position: absolute;
    text-align: left;
    margin: 0.5em;
    margin-left: 0;
    font-weight: 700;
    color: #444;
    font-size: 1.375em;
    line-height: 1.3em;

}

.mijnlijst main > section {

    height: auto;
    margin: 0 auto;
    overflow: visible;
    white-space: normal;
    padding-left: 1em;

}

.overzicht section a,
.mijnlijst section a {

    color: #444444
}


main > section {

    text-align: left;

}

.overzicht main > section {

    padding-left: 2vw;

}

.overzicht section article,
.verhaal section article,
.mijnlijst section article {

    height: 14em;
    width: 11em;
    display: inline-block;
    margin-bottom: 0;
    border-radius: 0.5em;
    border: 1px solid lightgray;
    overflow: hidden;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    top: 3em;
}

.overzicht section:not(:first-child) article {

    margin-top: 1em;

}

.overzicht section:first-child article:first-of-type {

    width: 92vw;
    max-width: 24em;
    height: 26em;
    vertical-align: top;
    display: block;
    top: 3em;
}

.overzicht section article:hover,
.verhaal section article:hover,
.mijnlijst section article:hover {

    border: 3px #FDAC2A solid;
    transition: 0.2s;

}


.overzicht section article:last-of-type,
.verhaal section article:last-of-type {

    margin-right: 2.5em;
}

section article a div:first-of-type {

    height: 40%;
    background-color: white;
    color: white;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    background-size: cover;
    background-position: top;
}

section article h3 {

    width: 90%;
    white-space: normal;
    margin: 0.6em;
    margin-left: 0.6em;
    font-size: 0.9em;
    position: absolute;
    justify-content: flex-start;
    text-align: left;
}

section article > div:nth-child(2) {

    height: 3.2em;
    display: flex;
    justify-content: space-between;
    background-image: none;

    margin-top: 5em;
    align-items: flex-end;
    padding: 0 0.2em;
    text-align: left;
    position: relative;

}

.overzicht section:first-child article:first-of-type h3 {

    font-size: 2em;

}

.overzicht section:first-child article:first-of-type > div:nth-child(2) {

    height: 10em;
    padding: 0 1.2em 0;

}

section article > div:nth-child(2) img {

    width: 1.5em;
    display: inline-flex;

}

section article > div:nth-child(2) div:first-child img {

    width: 1.8em;
    display: inline-flex;

}


section article > div:nth-child(2) div:first-child {

    z-index: 1;
    height: 2.2em;

}

section article > div:nth-child(2) div:first-child p {

    display: none;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

section article > div:nth-child(2) div.open p {

    display: inline-flex;
    width: 100%;
    opacity: 100;

}

section article > div:nth-child(2) div:first-child {

    width: 1em;
}

section article > div:nth-child(2) div:first-child:not(.loading) img {

    padding: 0.1em 0.3em 0.1em 0em;
}

section article > div:nth-child(2) div:first-child:not(.loading) img:hover {

    background-color: lightgray;
    border-radius: 0.3em;
    padding: 0.1em 0.3em 0.1em 0em;
    color: white;
    content: url("Images/downloadbuttonwit.svg");
}

section article > div:nth-child(2) div.loading img {

    background-color: transparent;
    border-radius: 0.3em;
    color: white;
    transition: 0s;
    content: url("Images/downloadbuttonloading.svg");
    margin: 0 auto;

    animation-direction: normal;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

section article div.loading img:hover {

    background-color: transparent;
    content: url("Images/downloadbuttonloading.svg");
}

section article > div:nth-child(2) div.open {

    position: absolute;
    width: 95%;
    background-color: lightgray;
    border-radius: 0.3em;
    display: inline-flex;
    color: white;
    transition: 0.5s;
    margin-bottom: 2em;
}

section:first-child article > div:nth-child(2) div.open {

    width: 90%;
}



section article > div:nth-child(2) div.loading {

    background-color: lightgray;
    border-radius: 0.3em;
    display: inline-flex;
    color: white;
    width: 2em;
    height: 2em;
    text-align: center;

}

section article > div:nth-child(2) div:nth-child(2) {

    display: inline-flex;
    overflow: hidden;
    height: 2em;
    opacity: 0.5;

}

section article > div:nth-child(2) div p {

    margin-top: 0.5em;
    margin-right: 0.2em;
    height: 2em;

}

section article > div:nth-child(2) div:nth-child(2) p {

    margin-top: 0.4em;
    margin-right: 0.2em;
    height: 2em;

}

button:hover {

    background-color: #FD9727;

}

/* Login, Register */

.loginregister main {

    width: 25em;
    margin: 0 auto;

}

.loginregister nav {

    height: 0;
    overflow: visible;
    transition: 0s;
    white-space: nowrap;
}

.facebookbutton {

    background-color: #4267B2;
    margin-top: 2em;
    font-weight: 100;
    font-size: 0.9em;


}

.facebookbutton img {

    width: 0.9em;
    margin-right: 0.6em;

}


.loginregister p {

    font-weight: 100;
    color: #444444;
    font-size: 0.9em;
    margin: 2em auto;
    width: 20em;
    line-height: 1.5em;

}

.loginregister div {

    position: relative;
    line-height: 1em;
    text-align: center;
    margin-top: 2em;

}

.loginregister div:before {

    content: "";
    position: absolute;
    top: 50%;
    left: 1em;
    right: 1em;
    border-top: 1px solid #c8c8c8;

}

.loginregister span {

    position: relative;
    display: inline-flex;
    padding: 0.6em;
    color: #444444;
    background-color: #ffffff;
    font-weight: 100;
    font-size: 0.9em;

}

.loginregister h2 {

    text-align: center;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: -1em;
    font-size: 1.2em;

}

.loginregister h2:active {

    color: white;

}

.loginregister h2.open:after {
    content: "";
    display: inline-flex;
    width: 0.3em;
    height: 0.3em;
    margin-left: 0.3em;
    vertical-align: middle;
    border-style: solid;
    border-color: #646464;
    border-width: 0 0 0.1em 0.1em;
    transform: rotate(-45deg);
    transition: transform 0.3s;
}

.loginregister h2:after {
    content: "";
    display: inline-flex;
    width: 0.3em;
    height: 0.3em;
    margin-left: 0.3em;
    vertical-align: middle;
    border-style: solid;
    border-color: #646464;
    border-width: 0 0 0.1em 0.1em;
    transform: rotate(-225deg);
    transition: transform 0.3s;
}

.loginregister section {

    height: 0px;
    overflow: hidden;
    transition: 1s;

}

.loginregister section.open {

    height: auto;
    overflow: visible;
    transition: 1s;

}

.loginregister input {

    width: 80%;
    margin: 0 auto;
    border-radius: 0.3em;
    border: 1px solid lightgray;
    font-size: 1em;
    padding: 0.4em;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
    display: flex;
    align-self: flex-start;


}

.loginregister label {

    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 0.9em;
    text-align: left;
    margin-left: 2.3em;
    color: gray;
    font-weight: 100;
    width: 80%;

}


form {

    margin-bottom: 2em;
    width: 100%;

}


/* Einde Login, Register */

/* Verhaal */

.verhaal nav,
.loginregister nav,
.mijnlijst nav:first-of-type {

    text-align: left;
    margin-left: 1em;
    margin-bottom: 0;
    height: 4em;

}

.loginregister nav,
.mijnlijst nav:first-of-type,
.verhaal nav {
    margin-top: 4em;
}


.verhaal nav p,
.verhaal nav a,
.loginregister nav p,
.loginregister nav a,
.mijnlijst nav:first-of-type p,
.mijnlijst nav:first-of-type a {

    display: inline-flex;
    color: #444444;
    text-decoration: none;
    font-weight: 400;
    margin: 0em;
    line-height: 1.5em;
    margin-top: 1em;
}

.verhaal header:first-child,
.loginregister header:first-child {

    top: 0;

}

.verhaal main {

    overflow: hidden;
    border-bottom: 1px solid #444444;
}

.verhaal main img {

    width: 90%;
    margin: 0 auto;
    max-width: 25em;
    transform: rotate(20deg);
    margin-bottom: 7em;

    animation: 0.2s ease-out 0s 1 titel;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;

}

@keyframes titel {

    100% {
        transform: rotate(-2deg);
    }
}

.gradient {

    background: -moz-linear-gradient(top, rgba(181, 181, 181, 1) 0%, rgba(181, 181, 181, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(181, 181, 181, 1) 0%, rgba(181, 181, 181, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(181, 181, 181, 1) 0%, rgba(181, 181, 181, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transform: rotate(2deg);
    width: 110%;
    margin-left: -1em;
    height: 20em;
}

.verhaal > img:last-of-type {

    width: 3em;
    position: fixed;
    top: 50vh;
    left: 45vw;
    z-index: 10;
    opacity: 0;

}

.verhaal > img:last-of-type.animatie {

    width: 3em;
    animation: movelike 1s ease;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    opacity: 100;
}

@keyframes movelike {

    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(180deg);
        opacity: 100;
    }

    60% {}

    80% {
        transform: translate(0, 43vh);
    }

    100% {
        opacity: 0;
        transform: translate(0, 43vh);
    }

}

.verhaal .control {

    display: flex;
    justify-content: flex-end;

    height: 6em;

    padding-top: 1em;
    margin-right: 3vw;
}

.verhaal .control img {


    height: 4em;
    display: flex;
    width: 3em;
    margin: 0;

}

.verhaal .control p {

    font-size: 1.3em;
    margin-right: 0.2em;

}

.verhaal .control img.geliked {

    animation: liken 0.5s;
}

@keyframes liken {
    40% {
        height: 5em;
        width: 4em;
        margin-right: -0.5em;
        margin-top: -0.4em;
    }
    100% {
        height: 4em;
        width: 3em;
    }
}

.verhaal main h2 {

    margin: 0;
    margin-top: 1em;
    margin-right: 10vw;
    position: absolute;
    transform: rotate(0.6deg);
    color: white;
    right: 0;
    top: 0;
    font-weight: 100;
    font-size: 1em;

}

.verhaal section > h2 {

    margin-left: 2vw;

}

.verhaal main > p:last-child {

    padding-bottom: 5em;
    border-bottom: 1px solid black;

}

.verhaal main div:not(.gradient) {

    margin: 0 auto;
    margin-bottom: 3em;
    width: 60%;
    font-family: Crooked, sans-serif;
    font-size: 1.2em;
    height: 5em;

}

.verhaal main div p {

    display: inline-flex;
    margin: 0.2em 0;

}

.verhaal main div p:first-of-type.invisible {

    transform: rotate(200deg) translate(-5em, -10em);
    opacity: 0;
    transition: 0s;
}

.verhaal main div p:last-of-type.invisible {

    transform: rotate(-200deg) translate(-5em, -10em);
    opacity: 0;

}

.verhaal main .alt1 p.invisible {

    transform: translateY(-20vw);
    opacity: 0;
}

.verhaal main .alt1 p:first-of-type.invisible {

    transform: translate(1vw);
    opacity: 0;
}

.verhaal main .alt1 p:last-of-type.invisible {

    transform: translate(10vw);
    opacity: 0;

}

.verhaal main .alt2 p:first-of-type.invisible {

    transform: translate(-1em) rotate(1000deg);
    opacity: 0;
}

.verhaal main .alt2 p:last-of-type.invisible {

    transform: translate(10em) rotate(1000deg);
    opacity: 0;

}

.verhaal main .alt3 p.invisible {

    transform: translate(-20vw);
    opacity: 0;
}

@keyframes breakdown {

    0% {
        transform: rotate(20deg);
    }
    15% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(10deg) translateY(20vw)
    }
    35% {
        transform: rotate(-40deg);
    }
    40% {
        transform: rotate(-20deg) translate(20vw);
    }
    50% {
        transform: rotate(30deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(-20deg) translate(-20vw);
    }
    100% {
        transform: rotate(20deg);
    }

}


.verhaal main .alt4 p.invisible {

    transform: rotate opacity: 0;
}


.verhaal main div p.visible {

    transform: rotate(0deg) translate(0em);
    transition: 1s;

}

.verhaal main .alt4 p.visible {

    color: red;
    margin: 2em 0;
    transition: 0.2s;
    animation: breakdown 6s;
    animation-iteration-count: infinite;

}

/* Scroll indicatie achtergrond */

.verhaal header div.progress-container {
    width: 0.2em;
    height: 80vh;
    margin-bottom: 0em;
    margin-top: 2em;
    position: absolute;
    right: 0;
    margin-right: 2em;
    background-color: white;
}

.verhaal header div.invisible {

    opacity: 0;
}

/* Scroll-indicator */

.verhaal header div.progress-bar {
    height: 4em;
    background: red;
    width: 0.2em;
    margin: 0 auto;
    margin-bottom: 0em;
}

/* Einde verhaal */

footer {

    background-image: url(Images/flixmobility-mobile-2x.png);

    background-size: 100%;
    background-position: bottom;
    height: 38vw;
    background-repeat: no-repeat;

}

main > footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: none;
    height: 4em;
    background-color: white;
    white-space: nowrap;
    text-align: center;
    border: 1px solid lightgray;
    z-index: 2;

}

main > footer img {

    width: 2em;
    height: 2em;
    margin: 1em 3em;
    box-sizing: border-box;

}

.verhaal main > footer img {

    width: 2em;
    height: 2em;
    margin: 1em 3em;
    box-sizing: border-box;
    animation: none;
    transform: none;


}

main > footer img:hover {

    border: 1px solid lightgray;

}

@-moz-keyframes spin {

    0% {}

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@media(min-width:30em) {

    .overzicht section article,
    .verhaal section article,
    .mijnlijst section article {

        display: inline-block;
        margin-bottom: 0;
        border-radius: 0.5em;
        overflow-x: scroll;
        border: 1px solid lightgray
    }

    .overzicht > button:first-of-type,
    .mijnlijst button {

        width: 20em;
    }

    nav form div:last-child button:first-child {

        width: 20em;

    }

    .overzicht section article,
    .verhaal section article,
    .mijnlijst section article {

        width: 12em;

    }

}

@media(min-width:50em) {

    body > header:first-child {

        text-align: left;
        height: 2.5em;

    }
    header img {

        width: 8em;
        display: flex;
        margin-left: 4vw;
        display: inline-flex;
        vertical-align: middle;

    }

    .overzicht section:first-child article:first-of-type > div:nth-child(2) {
        height: 12em;
        padding: 0 1.2em 0;
    }

    .overzicht > button:first-of-type,
    .mijnlijst > button:first-of-type {

        display: none;

    }

    .overzicht main {

        margin-top: 1em;
        text-align: left;

    }

    .mijnlijst main {
        margin-top: 4em;
    }

    .mijnlijst main > section {

        margin-left: 19em;
        text-align: left;
        width: 60vw;

    }

    .overzicht nav,
    .mijnlijst nav {

        height: 32em;
        margin-top: 4em;
        transition: 0s;
        overflow: visible;
        width: 18em;
        text-align: center;
        position: relative;
        border: none;
        border-radius: 0;
        position: absolute;
        background-color: white;
        z-index: 2;
        border-right: 1px solid lightgray;
    }

    .overzicht nav {

        height: 69em;

    }

    .mijnlijst footer:last-of-type {

        position: fixed;
        bottom: 0;

    }

    .mijnlijst nav:first-of-type {

        margin-top: 0;
        border: none;

    }


    header ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        margin-left: 1em;

    }

    header li a {

        display: flex;
        width: 4em;
        padding: 0.6em 1em 0em 1em;
        text-decoration: none;
        color: #ffffff;

    }

    header li:last-child {

        position: absolute;
        right: 0;
        margin-right: 2vw;

    }

    .overzicht nav {

        padding-top: 2em;

    }

    .overzicht nav label {
        margin-left: 3em;
    }

    .overzicht nav form div div input:nth-child(2) {
        margin-left: 6em;
    }


    nav form div:last-child button:first-child {

        width: 10em;

    }

    .overzicht section {

        width: 80%;

    }

    .overzicht main > div {

        height: 35em;
        white-space: nowrap;
        padding-left: 2em;

    }

    .overzicht main div section:nth-child(2) {

        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 50em;
        height: 34em;
        white-space: normal;
        justify-content: flex-start;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-bottom: 2em;
        padding-left: 0;
        box-sizing: border-box;

    }

    .overzicht main section:first-child h2 {

        padding-left: 0;

    }

    .overzicht main section:first-child article:first-of-type {

        margin: 0;
        height: 30em;
        width: 30em;

    }

    .overzicht main section article {

        margin-right: 1em;

    }


    .overzicht main section:not(:nth-child(2)),
    .overzicht main section:not(:first-child) {

        padding-left: 19em;

    }

    .overzicht main section:first-child {

        display: inline-flex;
        width: 25em;
        height: 35em;
        padding-left: 19em;
        vertical-align: top;
        margin-left: 0;

    }

    footer {

        background-image: url(Images/flixmobility-2x.png);
        height: 22vw;
    }

    main > footer {

        display: none;

    }

    .verhaal main img {

        width: 90%;
        margin: 0 auto;
        max-width: 60em;
        transform: rotate(0deg);
        margin-bottom: 7em;

        animation: 0.2s ease-out 0s 1 titel;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        content: url("Images/Titel.png");

    }

}

@media(min-width:85em) {


    .mijnlijst main > section {

        height: 35em;
        overflow: scroll;
        white-space: normal;

    }

    .overzicht main > section {

        height: 35em;
        margin: 0 auto;
        overflow: scroll;
        white-space: normal;
        padding-left: 6em;

    }

    .overzicht nav {

        height: 100em;

    }

    .overzicht main > div {

        text-align: center;

    }

    .overzicht main div section:nth-child(2) {

        width: 50em;

    }

    .overzicht section h2,
    .mijnlijst section h2 {

        margin-left: 0;


    }

    .overzicht section article,
    .verhaal section article,
    .mijnlijst section article {

        margin: 0;

    }

    .overzicht section article:first-of-type,
    .verhaal section article:first-of-type,
    .mijnlijst section article:first-of-type {

        margin-left: 0em;

    }

    .overzicht section article:last-of-type,
    .verhaal section article:last-of-type,
    .mijnlijst section article:last-of-type {

        margin-right: 0em;
    }

}
